@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">KanBunny Board</h1>
    <p>It's kinda krejza - <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Current time on the server is @DateTime.Now</p>
</div>
